PORT=5000

MONGO_URI=mongodb+srv://gallery_db_user:galleryAdmin123@gallery-of-wonders.j0apvip.mongodb.net/gallery-of-wonders?retryWrites=true&w=majority&appName=gallery-of-wonders

JWT_SECRET=GalleryOfWondersSecret2026